Flask~=3.1.0
Flask-Login~=0.6.3
Flask-WTF
WTForms~=3.2.1
Flask-SQLAlchemy
click~=8.1.8
Werkzeug~=3.1.3
utils~=1.0.2
requests~=2.32.3
SQLAlchemy~=2.0.39
pip~=25.0
attrs~=24.3.0
distro~=1.9.0
wheel~=0.43.0
protobuf~=5.28.3
pyOpenSSL~=24.3.0
cryptography~=44.0.0
pillow~=10.4.0
Jinja2~=3.1.6
typing_extensions~=4.12.2
MarkupSafe~=3.0.2
blinker~=1.9.0
itsdangerous~=2.2.0
certifi~=2024.8.30
urllib3~=1.26.20
greenlet~=3.1.1
psutil~=6.1.0
gunicorn~=23.0.0
packaging~=24.0
idna~=3.10
charset-normalizer~=3.4.0
importlib_metadata~=8.5.0
pytest~=8.2.0