{% extends 'base.html' %}
{% block content %}
<div class="leaderboard-wrapper">
    <h2>Таблица лидеров</h2>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Игрок</th>
                <th>Очки</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ game.user.nickname }}</td>
                <td>{{ game.score }}</td>
                <td>{{ game.date.strftime('%d.%m.%Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
